{{> head}}
{{> navbar}}
    <div class="row ">
        <div class="col-6">
            <h1>Frase</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam repudiandae placeat est explicabo iusto nobis architecto voluptas pariatur eum fuga! Quas consequatur odio quam alias laudantium, totam dolores sed aliquam.</p>
        </div>
        <div class="col-6">
            <img src="assets/img/frase.jpg" alt="Frase" class="img-thumbnail">
        </div>
    </div>
    
{{> footer}}
